<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>img_01</string>
		<key>userName</key>
		<string>Ann Drewer</string>
		<key>messageText</key>
		<string>GRADE OF COMP 261</string>
		<key>dateText</key>
		<string>5 min ago</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>img_02</string>
		<key>userName</key>
		<string>Ryan Wrynn</string>
		<key>messageText</key>
		<string>GRADE OF COMP 261</string>
		<key>dateText</key>
		<string>15 min ago</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>img_03</string>
		<key>userName</key>
		<string>Mia Sharma</string>
		<key>messageText</key>
		<string>GRADE OF COMP 261</string>
		<key>dateText</key>
		<string>2 min ago</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>img_04</string>
		<key>userName</key>
		<string>Samantha Proudmoore</string>
		<key>messageText</key>
		<string>GRADE OF COMP 261</string>
		<key>dateText</key>
		<string>30 min ago</string>
	</dict>
</array>
</plist>
